.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}

.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}

.icon-user{
	background:url('icons/user.png') no-repeat center center;
}

.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}

.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}

.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}

.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}

.icon-search{
	background:url('icons/search.png') no-repeat center center;
}

.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}

.icon-pencil{
	background:url('icons/pencil.png') no-repeat center center;
}

.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}

.icon-no{
	background:url('icons/no.png') no-repeat center center;
}

.icon-more{
	background:url('icons/more.png') no-repeat center center;
}

.icon-help{
	background:url('icons/help.png') no-repeat center center;
}

.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}

.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}

.icon-back{
	background:url('icons/back.png') no-repeat center center;
}

.icon-bank{
	background:url('icons/bank.png') no-repeat center center;
}

.icon-clock{
	background:url('icons/clock.png') no-repeat center center;
}

.icon-company{
	background:url('icons/company.png') no-repeat center center;
}

.icon-employee{
	background:url('icons/employee.png') no-repeat center center;
}

.icon-factory{
	background:url('icons/factory.png') no-repeat center center;
}

.icon-key{
	background:url('icons/key.png') no-repeat center center;
}

.icon-payment{
	background:url('icons/payment.png') no-repeat center center;
}

.icon-people{
	background:url('icons/people.png') no-repeat center center;
}

.icon-money{
	background:url('icons/money.png') no-repeat center center;
}

.icon-schedule{
	background:url('icons/schedule.png') no-repeat center center;
}

.icon-setting{
	background:url('icons/setting.png') no-repeat center center;
}

.icon-worker{
	background:url('icons/worker.png') no-repeat center center;
}

.icon-user{
	background:url('icons/user.png') no-repeat center center;
}

.icon-verified{
	background:url('icons/verified.png') no-repeat center center;
}

.icon-config{
	background:url('icons/config.png') no-repeat center center;
}

.icon-pie-chart{
	background:url('icons/pie-chart.png') no-repeat center center;
}

/* custom */
.icon-file{
	background:url('icons/file.png') no-repeat center center;
}

.icon-document{
	background:url('icons/document.png') no-repeat center center;
}